[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
gunicorn = "*"
pillow = "*"
dj-database-url = "*"
django-debug-toolbar = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
